$width: 300px;
$min-height: 48px;
$color-default: #F5F5F5;
$bg-color-default: #212121;
$button-color: pink;

$bg-color-info: #3498db !default;
$bg-color-success: #07bc0c !default;
$bg-color-warning: #f1c40f !default;
$bg-color-error: #e74c3c !default;

$animation-duration-enter: 700ms; 
$animation-duration-exit: 500ms; 